# Ambiente Virtual
venv/
ENV/
env/
.venv/

# Caches de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Dados e Outputs (Não queremos subir dados sensíveis de teste)
data/output/*
!data/output/.gitkeep
data/input/*.xlsx
data/input/*.csv

# Configurações de Ambiente e IDE
.env
.vscode/
.idea/
.DS_Store

# Binários e Logs
*.log
ngrok.exe